@import '../../assets/styles/util/variables.scss'; // Importing global variables

.profile-settings-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  width: 90vw;
  height: 90vh;

  .welcome-message {
    font-size: xx-large;
  }

  .sidebar {
    width: 20vw;
    max-width: 150px;
    background-color: $primary-color; // Using color from variables.scss
    padding: 20px;
    color: white;
    border-radius: 20px 0px 0px 20px;

    .sidebar-menu {
      list-style-type: none;
      padding: 0;

      li {
        cursor: pointer;
        margin: 10px 0;
        padding: 8px;
        background-color: lighten($primary-color, 10%);
        border-radius: 5px;
        text-align: left;

        &.active {
          background-color: lighten($primary-color, 15%);
          font-weight: bold;
        }
      }
    }
  }

  .content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: $bg-color;
    border-radius: 0px 20px 20px 0px;
  }
}
