body {
    background-color: #0D3B4C;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-form-container {
   width: 320px;
    margin: 0 auto;
    padding: 40px;
    background-color: #1A535C;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
}

h1 {
    color: #4ECDC4;
    font-size: 20px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #335C67;
    color: white;
    font-size: 16px;
}


.input-container input::placeholder {
    color: #ffffff99;
}


.login-btn,
.register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #E63946;
}


.register-btn {
    background-color: #4ECDC4;
}

.register-btn:hover {
    background-color: #3BAC9D;
}

.alert {
    width: 100%;
    padding: 15px;
    background-color: #FF6B6B;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert.success {
    background-color: #4ECDC4;
}

.alert.error {
    background-color: #FF6B6B;
}
