@import '../../assets/styles/util/variables.scss';  // Import variables


.login-container{
  background-color: $primary-color;
  height: 100vh
}

.login-form {
  margin:0;
  width: 320px;
  box-shadow: $box-shadow;
  text-align: center;
  color: $text-color;
  display: flex;

  h2 {
    color: Black;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .input-container {
    width: 320px;
    margin-bottom: 20px;
    position: relative;

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid $border-color;
      border-radius: 8px;
      background-color: $input-bg;
      color: $text-color;
      font-size: 16px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      &:focus {
        outline: none;
        border-color: $secondary-color;
        box-shadow: 0 0 5px $secondary-color;
      }
    }
  }

  .login-btn,
  .register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: $button-bg-color;
    color: $text-color;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  .register-btn {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }

  .alert {
    width: 100%;
    padding: 15px;
    background-color: $button-bg-color;
    color: $text-color;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;

    &.success {
      background-color: $secondary-color;
    }

    &.error {
      background-color: $button-hover-color;
    }
  }
}
