@import '../../assets/styles/util/variables';  // Importing the variables

.register-form-container {
  background-color: $primary-color;
  height: 100vh;  // Full height for the page
  display: flex;
  justify-content: center;
  align-items: center;

  .register-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: $form-bg-color;  // Add background color for the form
    border-radius: 12px;
    box-shadow: $box-shadow;
    color: $text-color;
    text-align: center;

    h2 {
      color: black;
      margin-bottom: 30px;
      font-size: 24px;
    }

    .form-control, .form-select {
      border-radius: 8px;
      color: black;

      &:focus {
        outline: none;
        border-color: $secondary-color;
        box-shadow: 0 0 5px $secondary-color;
      }
    }

    .toggle-password {
      cursor: pointer;
      color: $text-hover-color;
      margin-left: 10px;
    }

    .btn {
      width: 100%;
      padding: 12px;
      background-color: $button-bg-color;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $button-hover-color;
      }
    }

    .alert {
      margin-top: 20px;
    }

    .text-danger {
      color: $button-hover-color;
    }
  }
}
