@import '../../assets/styles/util/variables.scss';

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color; // Use imported background color
  padding: 2rem;

  .register-form {
    max-width: 400px;
    width: 100%;
    background-color: $form-bg-color; // Use imported form background color
    border-radius: 20px;
    padding: 2rem;
    box-shadow: $box-shadow; // Use imported box shadow
    font-family: $font-family; // Use imported font family

    h2 {
      text-align: center;
      color: $primary-color; // Use imported primary color
      margin-bottom: 1.5rem;
      font-size: 1.75rem;
    }

    .form-group {
      margin-bottom: 1.5rem;

      .form-control {
        background-color: $input-bg; // Use imported input background color
        border: 1px solid $input-border-color; // Use imported border color
        padding: 0.75rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        color: $text-color; // Use imported text color
        width: 100%;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: $primary-color; // Use primary color for focus state
          outline: none;
        }
      }

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: $text-color; // Use imported text color
        font-size: 1rem;
      }
    }

    .password-container {
      position: relative;

      .form-control {
        padding-right: 2.5rem; // Space for eye icon
      }

      .toggle-password {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $text-hover-color; // Use imported text hover color
        cursor: pointer;

        &:hover {
          color: $text-color; // Use imported text color
        }
      }
    }

    .btn-primary {
      background-color: $button-bg-color; // Use imported button background color
      border: none;
      padding: 0.75rem 1rem;
      width: 100%;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $button-hover-color; // Use imported button hover color
      }
    }

    .text-danger {
      color: $border-color; // Use imported border color
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }

    .alert-success {
      background-color: $button-hover-color; // Use imported button hover color
      color: white;
      padding: 0.75rem;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }
}