@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #092734;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}


.employer-create-profile-page {
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20%;
    overflow: hidden;
    transition: visibility 0.3s ease, height 0.3s ease;
}

.employer-create-profile-page.hidden-form {
    height: 0;
    visibility: hidden;
}

.employer-create-profile-page.hidden-form form {
    display: none;
}

.employer-create-profile-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #40434E;
}

form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

input[type="text"],
input[type="file"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #40434E;
    border-radius: 5px;
    background-color: #FFFFFA;
    color: #40434E;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.image-preview {
    margin-bottom: 15px;
}

.image-preview img {
    width: 250px;
    height: 400px;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid #0B3142;
}

.submit-btn {
    padding: 12px;
    background-color: #092734;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: #0B3142;
}


.overlay {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    z-index: 1000;
    animation: borderFill 2s forwards;
}

.overlay.show {
    visibility: visible;
}

i.fas.fa-check {
    font-size: 40px;
    color: #1ecd97;
    font-weight: bold;
    opacity: 0;
    animation: checkGrow 1.5s forwards ease-in-out;
}

.invalid-input {
    border: 2px solid red !important;
    border-radius: 5px;
}

.preference-section {
    margin-bottom: 15px;
}

.add-preference-btn {
    padding: 10px 15px;
    background-color: #092734;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-preference-btn:hover {
    background-color: #0B3142;
}

.preference-item {
    display: inline-block;
    background-color: #092734;
    color: #FFFFFA;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9rem;
    position: relative;
}

.delete-preference {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
}

.delete-preference:hover {
    color: #FF0000;
}

.benefit-section {
    margin-bottom: 15px;
}

.add-benefit-btn {
    padding: 10px 15px;
    background-color: #092734;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-benefit-btn:hover {
    background-color: #0B3142;
}

.benefits-list {
    margin-bottom: 15px;
}

.benefit-item {
    display: inline-block;
    background-color: #092734;
    color: #FFFFFA;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9rem;
    position: relative;
}

.delete-benefit {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
}

.delete-benefit:hover {
    color: #FF0000;
}

input:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


@keyframes checkGrow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes borderFill {
    0% {
        border-color: transparent;
        border-width: 5px;
    }

    100% {
        border-color: #1ecd97;
        border-width: 5px;
    }
}
