/* Existing CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #092734;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

h2 {
    color: #fff;
}

.profile-view {
    position: relative;
    z-index: 1;
    max-width: 800px;
    width: 100%;
    margin: 80px 0;
    padding: 20px;
    background-color: #FFFFFA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-view h1 {
    text-align: center;
    color: #0B3142;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 20px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.profile-details p {
    font-size: 1.1rem;
    margin: 0;
    color: #40434E;
    padding: 14px 0;
}

.profile-details p strong {
    color: #0B3142;
}


.preferential-treatment-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    text-align: center;
}

.preference-item {
    flex: 1 0 30%;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #FFFFFA;
    font-size: 1.1rem;
}


.company-benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    text-align: center;
}

.benefit-item {
    flex: 1 0 30%;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #FFFFFA;
    font-size: 1.1rem;
}