// _variables.scss


// Background Color
$bg-color: #212529;


// Primary color scheme
$primary-color: #212529; // Used for main backgrounds, buttons
$secondary-color: #4ECDC4; // Accent color

// Text colors
$text-color: #ffffff;
$text-hover-color: #FF6B6B;

// Button colors
$button-bg-color: #fe3c72;
$button-hover-color: #ef4a75;
$input-bg: #335C67;

// Form Colors
$form-bg-color:#FFFFFF;



// Other colors (for borders, highlights, etc.)
$border-color: #E63946;

//Font Style
$font-family: 'Times Roman', sans-serif;

//Shadow Style
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
