.footer-container {
  width: 100%;
  background-color: #f8f9fa; /* Light background color for the footer */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a subtle effect */
  display: flex;
  justify-content: space-evenly;
}

.footer-copyright {
  h4 {
    margin: 0; /* Remove margin to prevent spacing issues */
    font-size: 1rem;
    color: #333; /* Text color */
  }
}

.footer-use_terms {
  gap: 1rem; /* Adds space between the "Privacy Policy" and "Terms of Use" */
  h4 {
    margin: 0;
    font-size: 1rem;
    color: #333; /* Text color */
    cursor: pointer; /* Make the text look clickable */
    &:hover {
      text-decoration: underline; /* Optional hover effect */
    }
  }
  display: flex;
  flex-direction: column;
}

.bi-github {
  font-size: 1.5rem; /* Increase size of the icon */
  color: #333;
  cursor: pointer; /* Make the icon look clickable */
  &:hover {
    color: #007bff; /* Optional hover effect to change the color */
  }
}
