@import '../../assets/styles/util/variables.scss';


.job-posting-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f8f9fa; // Light background for the form
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Slight shadow for depth

  .formJobPosting {
    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: 600;
        color: #343a40;
        display: block;
        margin-bottom: 5px;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #007bff;
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
        }
      }
    }

    // Textarea specific styling
    textarea.form-control {
      height: 150px;
      resize: none;
    }

    .btn {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: darken(#007bff, 10%);
        box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.2);
      }

      &:disabled {
        background-color: lighten(#007bff, 20%);
        cursor: not-allowed;
      }
    }
  }
}
